[alias]
  st = status
  cm = commit
  co = checkout
  br = branch
[core]
	autocrlf = input
  whitespace = cr-at-eol
	eol = lf
[user]
    name = Callum
    email = gavzilla+github@gmail.com
[mergetool]
	keepBackup = false
